* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acimg {
    background-color: white;
    padding: 10px;
    background-repeat: no-repeat;
}

.actxt {
    text-align: center;
    color: blue;
    font-size: 8px;
    font-family: "Bitstream Vera Sans Mono", monospace;
}

:root {
    --overlay-color: dimgrey;
    --dialog-color: #e9ecef;
    --dialog-border-radius: 20px;
    --icon-color: rgba(73, 80, 87, .6);
    --dialog-padding: 20px;
    --drag-over-background: #e3e5e8;
}

body {
    background-color: var(--overlay-color);
}

.message_box {
    display: flex;
    margin: auto;
    justify-content: center;
}

.flash_messages {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: red;
    color: snow;
    font-size: 2rem;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    position: relative;
    font: 600 3.5em 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}


.file-overlay {
    margin: auto;
    align-items: center;
    display: flex;
    justify-items: center;
    background-color: var(--dialog-color);
    width: 50vw;
    height: 60vh;
    min-width: 400px;
    min-height: 500px;
    border-radius: var(--dialog-border-radius);
}

.file-wrapper {
    position: relative;
    border-radius: var(--dialog-border-radius);
    border-color: var(--icon-color);
    border-style: dashed;
    border-width: 0.5rem;
    margin: 30px;
    height: 85%;
    width: 90%;
}

.file-content {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    border-radius: var(--dialog-border-radius);
}

.file-functions {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    width: 100%;
    bottom: 3%;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

img {
    width: 4rem;
    fill: var(--icon-color);
}

[type="file"]+label {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: var(--icon-color);
    cursor: pointer;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
    justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label.file-select {
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}

label>p {
    color: var(--icon-color);
    font-weight: 600;
    position: absolute;
    text-align: center;
    bottom: 0%;
    margin: 1rem;
}


button {
    display: inline-block;
    justify-self: right;
    border-radius: 10px;
    width: 5rem;
    border-color: var(--icon-color);
    color: var(--icon-color);
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 600;
}

.file-functions>p {
    color: var(--icon-color);
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
}