.idea/
**/__pycache__
venv/
# Guard against committing generated ascii files
*.txt
!requirements*.txt
# Guard against committing test coverage files and folders
tests/htmlcov/
tests/.coverage
tests/__pycache__/
tests/test
tests/.pytest_cache/
.vscode/
.nox
test
.eggs/
ascii_art.egg-info/