<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image to ascii converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="message_box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash_messages">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <h1>ASCII ART GENERATOR</h1>
        <div class="file-overlay">
            <div class="file-wrapper">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="file-content">
                        <input type="file" name="image" id="image" class="inputfile" oninput="onUpload(this);">
                        <label for="image" class="file-select">
                            <img src="../static/assets/file-upload-solid.svg" alt="file upload button">
                            <p>Click to Upload a File</p>
                        </label>
                    </div>
                    <div class="file-functions">
                        <p class="file-name">No file selected</p>
                        <button type="submit">Convert</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
