<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ascii Image</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href="https://allfont.net/allfont.css?fonts=bitstream-vera-sans-mono" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="acimg">
    <p class="actxt">{{ content }}</p>
</div>
</body>
</html>
