@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

.home-page-form {
    text-align: center;
}

.resizable-image {
    max-width: 200px;
    max-height: 200px;
    overflow: auto;
}

.resizable-ascii {
    max-width: 1200px;
    max-height: 1200px;
    overflow: auto;
}
