<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to ASCII Art Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="home-div">
        <h1 class="home-page-heading">Image to ASCII Art Converter</h1>
        <form class="home-page-form" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept=".jpg, .jpeg, .png, .gif">
            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>
