<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ascii Image</title>
    <style>
        .acimg {
            background-color: black;
            padding: 10px; 
            background-repeat: no-repeat;
        }

        .actxt {
            text-align: center;
            color: white;
            font-size:12px;
            font-family: monospace;
        }
    </style>
</head>

<body>
    <div class="acimg">
        <p class="actxt">{{ content }}</p>
    </div>
</body>

</html>